:root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /* Accent */
    --blue: hsl(248, 32%, 49%);
    /* Neutral */
    --drkBlue: hsl(249, 10%, 26%);
    --greyBlue: hsl(246, 25%, 77%);
    /* Font */
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
